In [2]:
import numpy as np
import pandas as pd

In [26]:
!dir "world-development-indicators"

 Volume in drive D is work_files
 Volume Serial Number is A2F5-5387

 Directory of D:\files\OneDrive\MMDS\DSE200x_python_for_ds\Week-6-Mini\world-development-indicators

02/25/2019  12:03 PM    <DIR>          .
02/25/2019  12:03 PM    <DIR>          ..
05/01/2017  10:00 AM           131,845 Country.csv
05/01/2017  10:00 AM           655,490 CountryNotes.csv
05/01/2017  10:00 AM     1,411,481,600 database.sqlite
05/01/2017  10:00 AM        52,390,816 Footnotes.csv
05/01/2017  10:00 AM             1,031 hashes.txt
05/01/2017  10:00 AM       574,305,253 Indicators.csv
05/01/2017  10:00 AM         3,309,006 Series.csv
05/01/2017  10:00 AM            32,782 SeriesNotes.csv
               8 File(s)  2,042,307,823 bytes
               2 Dir(s)  839,222,951,936 bytes free

In [22]:
country = pd.read_csv('./world-development-indicators/Country.csv')
notes = pd.read_csv('./world-development-indicators/CountryNotes.csv')
footnotes = pd.read_csv('./world-development-indicators/Footnotes.csv')
indicators = pd.read_csv('./world-development-indicators/Indicators.csv')
series = pd.read_csv('./world-development-indicators/Series.csv')
seriesnotes = pd.read_csv('./world-development-indicators/SeriesNotes.csv')

In [17]:
country.head(1)

,CountryCode,ShortName,TableName,LongName,Alpha2Code,CurrencyUnit,SpecialNotes,Region,IncomeGroup,Wb2Code,...,GovernmentAccountingConcept,ImfDataDisseminationStandard,LatestPopulationCensus,LatestHouseholdSurvey,SourceOfMostRecentIncomeAndExpenditureData,VitalRegistrationComplete,LatestAgriculturalCensus,LatestIndustrialData,LatestTradeData,LatestWaterWithdrawalData
0,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2013.0,2000.0

In [18]:
notes.head(1)

,Countrycode,Seriescode,Description
0,ABW,EG.EGY.PRIM.PP.KD,Sources: Estimated based on UN Energy Statisti...

In [19]:
footnotes.head(1)

  Countrycode      Seriescode    Year    Description
0         ABW  AG.LND.FRST.K2  YR1990  Not specified

In [28]:
indicators.head(10)

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06
5,Arab World,ARB,Arms imports (SIPRI trend indicator values),MS.MIL.MPRT.KD,1960,5.380000e+08
6,Arab World,ARB,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,1960,4.769789e+01
7,Arab World,ARB,CO2 emissions (kt),EN.ATM.CO2E.KT,1960,5.956399e+04
8,Arab World,ARB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1960,6.439635e-01
9,Arab World,ARB,CO2 emissions from gaseous fuel consumption (%...,EN.ATM.CO2E.GF.ZS,1960,5.041292e+00

In [20]:
series.head(1)

,SeriesCode,Topic,IndicatorName,ShortDefinition,LongDefinition,UnitOfMeasure,Periodicity,BasePeriod,OtherNotes,AggregationMethod,LimitationsAndExceptions,NotesFromOriginalSource,GeneralComments,Source,StatisticalConceptAndMethodology,DevelopmentRelevance,RelatedSourceLinks,OtherWebLinks,RelatedIndicators,LicenseType
0,BN.KLT.DINV.CD,Economic Policy & Debt: Balance of payments: C...,"Foreign direct investment, net (BoP, current US$)",NaN,Foreign direct investment are the net inflows ...,NaN,Annual,NaN,NaN,NaN,NaN,NaN,Note: Data are based on the sixth edition of t...,"International Monetary Fund, Balance of Paymen...",NaN,NaN,NaN,NaN,NaN,Open

In [24]:
seriesnotes.head(1)

    Seriescode    Year                                 Description
0  SP.ADO.TFRT  YR1960  Interpolated using data for 1957 and 1962.